@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "_Layout.cshtml";
}

<form id="apiquery" action="/meta" method="get">
  <div class="large-12 columns">
    <h3>API QUERY</h3>
  </div>
  <div class="large-4 columns">
    <select id="apiquery-type">
      <option value="meta">meta</option>
      <option value="reviews">reviews</option>
      <option value="ratings">ratings</option>
    </select>
  </div>
  <div class="large-8 columns">
    <input type="text" name="id" value="2532ff45-aa3f-4aba-a266-ed7ec71d47bd" />
  </div>
  <div class="large-12 columns">
    <input type="submit" value="submit" class="button" />
  </div>
</form>

<div style="clear:both;"></div>
<br /><br />

<form id="apisearch" action="/search" method="get">
  <div class="large-12 columns">
    <h3>SEARCH</h3>
    <input type="text" name="term" value="" placeholder="search term ..." />
    <input type="submit" value="submit" class="button" />
  </div>
</form>

<div style="clear:both;"></div>
<br /><br />

<div class="large-12 columns">
  <h3>SPOTLIGHT</h3>
  <div class="spotlight">
    @{ var i = 0; }
    @foreach (var result in Model.Spotlight.Results)
    {
      <a href="/meta/?id=@result.Id" class="spotlight-item">
        <img src="/api/image/@(result.Images.Logo.Id).jpg" alt="@result.Name" class="spotlight-image" />
        <b>@result.Name</b>
      </a>
      @if (++i % 5 == 0 && i > 1)
      {
        <div style="clear:both;float:none;"></div>
      }
    }
  </div>
</div>



<style>
  .spotlight-item
  {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 5px;
  }

  .spotlight-image
  {
    display: block;
    margin-bottom: 10px;
  }
</style>

<script>
  $('#apiquery').on('submit', function (e)
  {
    e.preventDefault();
    $(this).off('submit').attr('action', '/' + $('#apiquery-type').val()).submit();
  });
</script>