@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "_Layout.cshtml";
}

@foreach (var result in Model.Results)
{
  <div class="result">
    <img src="/api/image/@(result.Images.Logo.Id).jpg" alt="@result.Name" style="float: left;" />
    @result.Name<br />
    Rating: <mark>@result.Rating.AverageRating</mark> (out of @result.Rating.RatingCount)
  </div>
  <hr />
}

<style>
  .result 
  {
    padding: 1rem;
  }
  .result:nth-child(4n+1) 
  {
    background: #f7f7f7;
  }
</style>